.container {
    margin-top: 50px;
}
a:visited {
    color: #8d6e63 !important;
    text-decoration: none;
}

a:hover, ul.nav li a:active {
    color: #8d6e63 !important;
    text-decoration: none;
}

a {
    color: #8d6e63 !important;
    text-decoration: none;
    font-style:italic;
}
h3{
    color: #8d6e63 !important;
    text-align: center;
}

.navbar-nav > li{
    padding-left:80px;
    padding-right:80px;
    text-transform: uppercase;
}
.search-box{
    position: absolute;
    top: 2%;
    left: 95%;
    transform: translate(-50%, -50%);
    background:#f8f9fa;
    height: 20px;
    border-radius: 20px;
}
.search-box:hover > .search-txt{
    width: 180px;
    color: #8d6e63;
}

.search-btn{
    color: #8d6e63;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    height: 20px;
    transition: 0.4s;
    width: 0px;
    float: left;
}

#addButton {
    position: fixed;
    z-index: 1000;
    background: #8d6e63;
    width: 5%;
    height: 10%;
    color: #f8f9fa;
    border-radius: 50%;
    bottom: 3.75em;
    right: 3.75em;
    text-align: center;
}

.photo{
    width: 17.4em;
    height: 12em;
    text-align: center;
    border: 0.0625em solid lightgray;
    border-radius: 2%;
    display:inline-block;
}

.card{
    width: 17.4em;
    height: 12em;
}

.modalDialog {
    position: fixed;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}



.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #fff);
    background: -webkit-linear-gradient(#fff, #fff);
    background: -o-linear-gradient(#fff, #fff);
}

.close {
    background: #FFFFFF;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.btn{
background: lightgray;
    width: 5em;
    height: 2.5em;
    border-radius: 5%;
    border: none;
    margin-left: 10%;
    margin-right: 20%;
}

.container{
    text-align: center;
}

.form-control{
    margin-bottom: 10%;
    width: 25em;
    height: 2.5em;
}

.filter{
    position: absolute;
    right: 2em;
    text-align: right;
}

.page-item{
    width: 3em;
    height: 2em;
    text-align: center;
    border: 0.0625em solid lightgray;
    border-radius: 3%;
    display:inline-block;
    margin: 0em 0em 0em 0em;
}

.page-link{
    text-align: center;
    font-size: x-large;
}

ul{
    text-align: center;
}
h4{
    text-align: center;
    line-height: 0.5em;
}
header{
    margin-bottom: -2em;
}
body{
    background-size: cover;
}














